.navbar {
    background-color: #7f8084;
    color: #ffffff;
    padding: 1rem 7rem;
}

@media screen and (max-width: 744px) {
    .navbar {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 657px) {
    .navbar {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 420px) {
    .navbar {
        padding: 1rem 1rem;
    }
}


.navbar-logo-box {
    margin-right: auto;
    cursor: pointer;
}
.navbar-logo-box {
    width: 15rem;
}

.navbar-list {
    margin-right: 8rem;
    font-size: 1.5rem;
    list-style-type: none;
}

@media screen and (max-width: 657px) {
    .navbar-list {
        order: 1;
    }
}

@media screen and (max-width: 637px) {
    .navbar-list {
        margin-top: 3rem;
        margin-left: 20%;
    }
}

@media screen and (max-width: 528px) {
    .navbar-list {
        margin-left: 10%;
    }
}

@media screen and (max-width: 433px) {
    .navbar-list {
        margin-left: 2%;
    }
}

.navbar-list-item {
    font-size: 1.9rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s;
    color: inherit;
}

.navbar-list-item:hover {
    transform: scale(1.09);
    color: #000000;
}

.navbar-list-item:not(:last-child){
    margin-right: 1.8rem;
}

.navbar-socials {
    list-style-type: none
}

.navbar-social-item:not(:last-child) {
    margin-right: 1rem;
}

.navbar-icon {
    font-size: 2rem;
    cursor: pointer;
}