.login-box {
    display: flex;
    width: 40%;
    margin: 0 auto;
    margin-top: 10vh;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    border-radius: 1rem;
    /* padding: 4rem; */
}

@media screen and (max-width: 872px) {
    .login-box {
        width: 50%;
    }
}

@media screen and (max-width: 642px) {
    .login-box {
        width: 60%;
    }
}

@media screen and (max-width: 510px) {
    .login-box {
        width: 75%;
    }
}

@media screen and (max-width: 395px) {
    .login-box {
        width: 85%;
    }
}

@media screen and (max-width: 342px) {
    .login-box {
        width: 90%;
    }
}

.login-form {
    width: 100%;
    padding: 4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.login-form-header {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #262526;
    margin-bottom: 3rem;
}

.login-form-group {
    margin-bottom: 4rem;
    position: relative;
}

.login-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
}

.login-input {
    padding: 1.2rem 4rem;
    border: none;
    background-color: #f3f3f3;
    box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.75);
    border-radius: .4rem;
    width: 100%;
}

.login-form-btn {
    padding: 1rem 4rem;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: .4rem;
    margin-top: 3rem;
    cursor: pointer;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
    font-size: 2rem;
    margin-bottom: 2rem;
    width: 60%;
}

.login-form-btn-icon {
    margin-left: 1.5rem;
}
