/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set global font size for effective use of rem unit */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;

}

@media screen and (max-width: 995px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  line-height: 1.4;
  color:  #737373;
}


/* utility classes */
.flex-align {
  display: flex;
  align-items: center;
}

.img-responsive {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.center-align {
  text-align: center;
}